.get-your-look{
    display: flex;
}

.image-top{
    display: flex;
    flex-direction: column-reverse;
}

img{
    width: 100%;
}

.hover-container{
    background-color: #000;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.black-container{
    position: absolute;
    width: 49.5%;
    border-radius: 16px;
    z-index: 9;
}

.black-container-top{
    top: 0;
}

.get-your-look__item{
    overflow: hidden;
}

.get-your-look__item:hover .black-container{
    opacity: 0.6;
}

.get-your-look__item:hover img{
    scale: 1.5;
    
}
